{% extends "base-new.html" %}

{% block content %}
    <!-- START PAGE CONTAINER -->
    <div class="container container-boxed">

        <div class="row">
            <div class="col-md-12">

                <!-- RECENT ACTIVITY -->
                <div class="block block-condensed">
                    <div class="app-heading app-heading-small">
                        <div class="title">
                            <h2>Recent Activity</h2>
                            <p>Your latest account usage</p>
                        </div>
                        <div class="heading-elements">
                            <button class="btn btn-default btn-icon"><span class="icon-printer"></span></button>
                            <button class="btn btn-default btn-icon"><span class="icon-sync"></span></button>
                        </div>
                    </div>
                    <div class="block-content margin-bottom-0">
                        <div class="row">
                            <div class="col-md-4">
                                <select id="select-account">
                                    <option value="1">All accounts</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group pull-left">
                                    <div class="input-group-addon">
                                        <span class="icon-calendar-full"></span>
                                    </div>
                                    <input type="text" class="form-control bs-datepicker" value="27/06/2017">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group pull-right">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-divider-text"></div>
                    <div class="block-content">
                        <div id="activities-list" class="listing margin-bottom-0">

                        </div>
                    </div>
                </div>
                <!-- END RECENT -->

                <!--
                <nav>
                    <ul class="pagination pagination-separated pull-right">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                 -->
            </div>
        </div>

    </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}


{% block scripts %}
    <script type="application/javascript">
        function getAccountActivities(accountNumber, lines) {
            $.ajax({
                type: "POST",
                url: "/api/user/account-activities",
                data: {"accountNumber": accountNumber},
                dataType: "json",
                success: function (d) {
                    $("#activities-list").html('');
                    $.each(d.data, function (index, value) {
                        if (index < lines) {
                            printAccountActivities(value);
                        }
                    });
                }
            });
        }

        function printAccountActivities(data) {
            var activitiesInfo = "<div class=\"listing-item listing-item-with-icon\">\n" +
                "                                <span class=\"icon-menu-circle listing-item-icon\"></span>\n" +
                "                                <h4 class=\"text-rg text-bold\">" + data['desc'] + "<span\n" +
                "                                        class=\"text-muted pull-right\">" + data['dateTime'] + "</span></h4>\n" +
                "                                <div class=\"list-group list-group-inline\">\n" +
                "                                    <div class=\"list-group-item col-md-4 col-sm-4\">\n" +
                "                                        <span class=\"text-muted\">Account</span><br>\n" +
                "                                        <span class=\"text-bold\">******" + String(data['accountNumber']).substr(-4) + "</span>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"list-group-item col-md-4 col-sm-4\">\n" +
                "                                        <span class=\"text-muted\">Amount</span><br>\n" +
                "                                        <span class=\"text-bold \">" + accounting.formatMoney(data['amount']) + "</span>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"list-group-item col-md-4 col-sm-4\">\n" +
                "                                        <span class=\"text-muted\">Balance</span><br>\n" +
                "                                        <span class=\"text-bold\">" + accounting.formatMoney(data['balanceSnapshot']) + "</span>\n" +
                "                                    </div>\n" +
                "                                </div>\n" +
                "                            </div>";
            console.log(activitiesInfo)
            $("#activities-list").append(activitiesInfo);
        }

        function getAccountActivities(accountNumber, lines) {
            $.ajax({
                type: "POST",
                url: "/api/user/account-activities",
                data: {"accountNumber": accountNumber},
                dataType: "json",
                success: function (d) {
                    $("#activities-list").html('');
                    $.each(d.data, function (index, value) {
                        if (index < lines) {
                            printAccountActivities(value);
                        }
                    });
                }
            });
        }

        function printAccountActivities(data) {
            var activitiesInfo = "<div class=\"listing-item listing-item-with-icon\">\n" +
                "                                <span class=\"icon-menu-circle listing-item-icon\"></span>\n" +
                "                                <h4 class=\"text-rg text-bold\">" + data['desc'] + "<span\n" +
                "                                        class=\"text-muted pull-right\">" + data['dateTime'] + "</span></h4>\n" +
                "                                <div class=\"list-group list-group-inline\">\n" +
                "                                    <div class=\"list-group-item col-md-4 col-sm-4\">\n" +
                "                                        <span class=\"text-muted\">Account</span><br>\n" +
                "                                        <span class=\"text-bold\">******" + String(data['accountNumber']).substr(-4) + "</span>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"list-group-item col-md-4 col-sm-4\">\n" +
                "                                        <span class=\"text-muted\">Amount</span><br>\n" +
                "                                        <span class=\"text-bold \">" + accounting.formatMoney(data['amount']) + "</span>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"list-group-item col-md-4 col-sm-4\">\n" +
                "                                        <span class=\"text-muted\">Balance</span><br>\n" +
                "                                        <span class=\"text-bold\">" + accounting.formatMoney(data['balanceSnapshot']) + "</span>\n" +
                "                                    </div>\n" +
                "                                </div>\n" +
                "                            </div>";
            console.log(activitiesInfo)
            $("#activities-list").append(activitiesInfo);
        }

        $.ajax({
            type: "GET",
            url: "/api/user/accounts",
            dataType: "json",
            success: function (data) {
                if (data.status == 0) {
                    sessionStorage.accounts = JSON.stringify(data.data);
                } else {
                    alert(data.msg);
                }
            }
        }).done(function () {
            $.when(fillSelectAccounts("select-account")).then($("#select-account").selectpicker());
            getAccountActivities($("#select-account").val(), 1000);

            $("#select-account").change(function () {
                getAccountActivities($(this).val(), 1000);
            });
        });

    </script>
{% endblock %}