<!DOCTYPE html>
<html lang="en">
<head>
    <title>Devonshire MyAccount-Summary</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- EOF CSS INCLUDE -->
</head>
<body>

<!-- APP WRAPPER -->
<div class="app">

    <!-- START APP CONTAINER -->
    <div class="app-container">
        <!-- START APP HEADER -->
        <div class="app-header">
            <div class="container container-boxed">
                <ul class="app-header-buttons visible-mobile">
                    <li><a href="#" class="btn btn-link btn-icon" data-navigation-horizontal-toggle="true"><span
                            class="icon-menu"></span></a></li>
                </ul>
                <a href="index.html" class="app-header-logo app-header-logo-light app-header-logo-condensed">Project</a>

                <ul class="app-header-buttons pull-right">
                    <li><a href="#" class="btn btn-link btn-icon"><span class="icon-cog"></span></a></li>
                    <li><a href="#" class="btn btn-default">Log Out</a></li>
                </ul>
            </div>
        </div>
        <!-- END APP HEADER  -->

        <!-- START APP CONTENT -->
        <div class="app-content">
            <div class="app-navigation-horizontal margin-bottom-15">
                <div class="container container-boxed">
                    <nav>
                        <ul>
                            <li>
                                <a href="#"><span class="icon-home"></span> My Account</a>
                                <ul>
                                    <li><a href="pages-bank-main.html">Summary</a></li>
                                    <li><a href="pages-bank-cards.html">My Cards</a></li>
                                    <li><a href="pages-bank-activity.html"> Account Activity</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="icon-earth"></span> Transfer Funds</a>
                                <ul>
                                    <li><a href="pages-bank-transfer-self.html">Between your accounts</a></li>
                                    <li><a href="pages-bank-transfer-others.html">To other people</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="icon-store"></span> Pay Bills</a>
                                <ul>
                                    <li><a href="pages-bank-transfer-bill.html">Add Bills</a></li>
                                    <li><a href="#">Payment Activity</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="pages-bank-deposits.html"><span class="icon-license"></span> Deposit</a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-briefcase"></span> Loan</a>
                            </li>
                            <li>
                                <a href="/customer-service"><span class="icon-users"></span> Customer Service</a>
                                <ul>
                                    <li><a href="/customer-service/faq">FAQ</a></li>
                                    <li><a href="/customer-service/contactus">Contact Us</a></li>
                                    <li><a href="/customer-service/chat">Notifications</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="icon-cog"></span> Settings</a>
                                <ul>
                                    <li><a href="pages-bank-settings.html">Account</a></li>
                                    <li><a href="pages-bank-security.html">Security</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>

            <!-- START PAGE CONTAINER -->
            {% block content %} {% endblock %}
            <!-- END PAGE CONTAINER -->

        </div>
        <!-- END APP CONTENT -->

    </div>
    <!-- END APP CONTAINER -->

    <!-- START APP FOOTER -->
    <div class="app-footer app-footer-default" id="footer">

        <div class="container container-boxed">
            <div class="app-footer-line">
                <div class="copyright">&copy; 2016 Boooya. All right reserved in the Ukraine and other countries.</div>
                <div class="pull-right">
                    <ul class="list-inline">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- END APP FOOTER -->
</div>
<!-- END APP WRAPPER -->

<!-- IMPORTANT SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/moment/moment.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="../static/js/myAccount_summary.js"></script>
<!-- END IMPORTANT SCRIPTS -->
<!-- THIS PAGE SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="../static/js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../static/js/vendor/maskedinput/jquery.maskedinput.min.js"></script>
<!-- END THIS PAGE SCRIPTS -->
<!-- APP SCRIPTS -->
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/app_plugins.js"></script>
<script type="text/javascript" src="../static/js/app_demo.js"></script>
<!-- END APP SCRIPTS -->
<script src="../static/js/main.js" type="application/javascript"></script>
{% block scripts %}
{% endblock %}


<!-- Start of BotEngine (www.botengine.ai) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "5a270b835b9fb80007011a0f";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.botengine.ai/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of BotEngine code -->

</body>
</html>
