{% extends "base.html" %}
{% block content %}
    <div class="box box-primary" style="max-width: 800px" id="deposit-box">
            <div class="box-header with-border">
                <h3 class="box-title">Deposit a Check</h3>
            </div>
            <div class="box-body">
                <form role="form" id="deposit-form" action="/api/user/deposit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Deposit Into:</label>
                        <select class="form-control" id="toAccount" name="toAccount" required></select>
                        <p class="help-block">Money usually available within 4 business days.
                    </div>

                <div class="form-group">
                    <label for="checkfrontimage">Check Front:</label>
                    <input type="file" id="checkImageFront" name="checkImageFront" accept="image/*"  required>
                    <p class="help-block">Please provide a picture of the front of the check.</p>
                </div>
                <div class="form-group">
                    <label for="checkbackimage">Check Back:</label>
                    <input type="file" id="checkImageBack" name="checkImageBack" accept="image/*"  required>
                    <p class="help-block">Please provide a picture of the back of the check.</p>
                </div>
                <div class="form-group">
                    <label>Check Number:</label>
                    <input type="text" class="form-control" placeholder="Enter ..." id="checkNumber" name="checkNumber"  required>
                </div>
                <div class="form-group">
                    <label>Amount:</label>
                    <input type="text" class="form-control" placeholder="Enter ..." id="amount"  name="amount" required>
                    <p class="help-block">Remaining deposit limit: $5,000.00</p>
                </div>
                <div class="form-group">
                    <label>Memo:</label>
                    <input type="text" class="form-control" placeholder="Enter ..." id="memo" name="memo" required>
                    <p class="help-block">Optional</p>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Deposit</button>
                </div>
                </form>
             </div>
        </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
    $(function () {
        fillSelectAccounts("toAccount");

        $("#deposit-form").submit(function (event) {
           event.preventDefault();
           var form = $(this)[0]; // You need to use standard javascript object here
            var formData = new FormData(form);
            console.log(formData);

           $.ajax({
               url: "/api/user/deposit",
               type: "POST",
               data: formData,
               dataType: "json",
               contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                processData: false, // NEEDED, DON'T OMIT THIS
               success: function (d) {
                   if (d.status == 0) {
                       refreshAccounts();
                       callMsg="<div class=\"callout callout-success\">\n" +
                           "                <h4>Deposit succeeded.</h4>\n" +
                           "\n</div>";
                       console.log(callMsg);
                       $("#deposit-box").append(callMsg);
                   }
               }
           });
       });
    });
    </script>
{% endblock %}