{% extends "base-new.html" %}
{% block content %}
            <div class="col-lg-12">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Accounts</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="account-body">

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-lg-12">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Functions</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                    <div class="col-lg-3 col-xs-6">
                        <a href="account-activity" class="btn btn-block btn-primary btn-lg">Account Activity</a>
                        <a href="deposit" class="btn btn-block btn-primary btn-lg">Deposit</a>
                        <a href="transfer" class="btn btn-block btn-primary btn-lg">Transfer Funds</a>
                        <a href="billpay" class="btn btn-block btn-primary btn-lg">Pay Bills</a>
                        <a href="profile" class="btn btn-block btn-primary btn-lg">My Profile</a>
                    </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
    $(function () {

        $.ajax({
                type: "GET",
                url: "/api/user/accounts",
                dataType: "json",
                success: function (data) {
                    if (data.status == 0) {
                        sessionStorage.accounts = JSON.stringify(data.data);
                    } else {
                        alert(data.msg);
                    }
                }
            }).done(function () {
                $.each(JSON.parse(sessionStorage.accounts), function (index, value) {
                            console.log(value['accountNumber'], value['balance'], value['type']);
                            printAccount(value['accountNumber'], value['balance'], value['type']);
                        })
                });
        });

    function printAccount(account_num, balance, type) {
        account_block = "<div class=\"col-lg-3 col-xs-6\">\n" +
            "                  <!-- small box -->\n" +
            "                  <div class=\"small-box bg-green\">\n" +
            "                    <div class=\"inner\">\n" +
            "                      <h3>"+accounting.formatMoney(balance)+"</h3>\n" +
            "                      <p>"+type+"  "+account_num+"</p>\n" +
            "                    </div>\n" +
            "                    <div class=\"icon\">\n" +
            "                      <i class=\"ion ion-stats-bars\"></i>\n" +
            "                    </div>\n" +
            "                    <a href=\"account-activity\" class=\"small-box-footer\">Account Activity <i class=\"fa fa-arrow-circle-right\"></i></a>\n" +
            "                  </div>\n" +
            "                </div>";
        $("#account-body").append(account_block);
    }
</script>
{% endblock %}
