{% extends "base-new.html" %}

{% block content %}
    <!-- START PAGE CONTAINER -->

    <div class="container container-boxed">
        <div class="row">
            <!-- Begin Student Loan-->
            <div class="block">

                <div class="app-heading app-heading-small">
                    <div class="title">
                        <h2>Student Loan Application</h2>
                        <p>All applications are subject to credit approval. Interest rates vary and are based upon
                            borrower and/or cosigner (where applicable) credit and other underwriting criteria. </p>
                    </div>
                </div>

                <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">School State</label>
                    <div class="col-md-2">
                        <select class="form-control" id="" name="" required>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">School Name:</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="" required>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="radio">
                            <label class="col-md-2 control-label">Would you like to apply with a cosigner?</label>
                            <label><input type="radio" name="cosigner" id="" value="" checked="checked">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="cosigner" id="" value="" required>No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cosigner Current Employer:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cosigner Work Address:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Cosigner Work Telephone:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Citizenship Status:</label>
                        <div class="col-md-6">
                            <select class="form-control" id="" name="" required>
                                <option value="citizen">U.S. Citizen</option>
                                <option value="non-citizen">Eligible Non-Citizen</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="radio">
                                <label class="col-md-2 control-label">Will you be enrolled at least half time?</label>
                                <label><input type="radio" name="enrolled" id="" value="" checked="checked">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="enrolled" id="" value="">No</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Loan Amount:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="" name="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email Address:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="" name="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label class="col-md-2 control-label">Are you at least the age of majority for your
                                    state of residence?</label>
                                    <label><input type="radio" name="age" id="" value="" checked="checked">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="age" id="" value="">No</label>
                            </div>
                        </div>
                        <p>
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-primary btn-clean">Cancel</button>
                        </p>
                </form>
                </div>

            <!-- END Student Loan -->
            </div>
        </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}


{% block scripts %}

{% endblock %}