{% extends "base-new.html" %}

{% block content %}
    <!-- START PAGE CONTAINER -->

    <div class="container container-boxed">
        <div class="row">
            <!-- Begin Home Loan-->
            <div class="block">

                <div class="app-heading app-heading-small">
                    <div class="title">
                        <h2>Auto Loan Application</h2>
                        <p>We have a loan to suit your needs - shop for new or used cars with one of our auto loans</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Loan Amount:</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">What is the purpose of your loan?</label>
                    <div class="col-md-6">
                        <select class="form-control" id="" name="" required>
                            <option>Purchase of Brand New Vehicle</option>
                            <option>Refinancing an Auto Loan</option>
                            <option>Buying From a Private Party</option>
                            <option>Buying Out a Lease</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">First Name:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Last Name:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Applicant Gross Annual Income:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Current Employer:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Work Address:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Work Telephone:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Current Address 1</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Current Address 2</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Current City</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Current State</label>
                    <div class="col-md-2">
                        <select class="form-control" id="" name="" required>
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Current Zip Code</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Model Year:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Manufacturer:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Model Type:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Selling Price:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Downpayment:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter ..." id="" name="" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Loan Term (in months):</label>
                    <div class="col-md-6">
                        <select class="form-control" id="" name="" required>
                            <option>24</option>
                            <option>36</option>
                            <option>48</option>
                            <option>72</option>
                        </select>
                    </div>
                </div>
                <p>
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-primary btn-clean">Cancel</button>
                </p>
                </form>

            </div>
            <!-- END Home Loan -->


        </div>
    </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}


{% block scripts %}

{% endblock %}