{% extends "base-new.html" %}

{% block content %}
    <!-- START PAGE CONTAINER -->
    <div class="container container-boxed">

        <div class="row">
            <div class="col-md-12">

                <!-- RECENT ACTIVITY -->
                <div class="block block-condensed">
                    <div class="app-heading app-heading-small">
                        <div class="title">
                            <h2>Manage My Bills</h2>
                            <p>Your payment activities</p>
                        </div>
                        <div class="heading-elements">
                            <button class="btn btn-default btn-icon"><span class="icon-printer"></span></button>
                            <button class="btn btn-default btn-icon"><span class="icon-sync"></span></button>
                        </div>
                    </div>
                    <div class="block-content margin-bottom-0">
                        <div class="row">
                            <div class="col-md-4">
                                <select class="bs-select" name="from" title="Choose your card">
                                    <option value="1">All accounts</option>
                                    <option value="2">$1,544 Checking **9781</option>
                                    <option value="3">$38,109 Saving **0001</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group pull-left">
                                    <div class="input-group-addon">
                                        <span class="icon-calendar-full"></span>
                                    </div>
                                    <input type="text" class="form-control bs-datepicker" value="27/06/2017">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group pull-right">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-divider-text">25 June 2017</div>
                    <div class="block-content">
                        <div class="listing margin-bottom-0">
                            <div class="listing-item listing-item-with-icon">
                                <span class="fa fa-bolt listing-item-icon"></span>
                                <h4 class="text-rg text-bold">Electricity City Utilities SC <span
                                        class="text-muted pull-right">25/06/2017 20:11</span></h4>
                                <div class="list-group list-group-inline">
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Account</span><br>
                                        <span class="text-bold">Checking **9781</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Amount</span><br>
                                        <span class="text-bold text-danger">-$13.50</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Balance</span><br>
                                        <span class="text-bold">$1,544</span>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item listing-item-with-icon">
                                <span class="icon-file-add listing-item-icon text-success"></span>
                                <h4 class="text-rg text-bold">United Cooperative service <span
                                        class="text-muted pull-right">25/06/2017 10:11</span></h4>
                                <div class="list-group list-group-inline margin-bottom-0">
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Account</span><br>
                                        <span class="text-bold">Saving **0001</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Amount</span><br>
                                        <span class="text-bold text-danger">-$250.00</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Balance</span><br>
                                        <span class="text-bold">$1,802</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-divider-text">23 June 2017</div>
                    <div class="block-content">
                        <div class="listing margin-bottom-0">
                            <div class="listing-item listing-item-with-icon">
                                <span class="fa fa-wifi listing-item-icon"></span>
                                <h4 class="text-rg text-bold">Infinity internet <span class="text-muted pull-right">23/06/2017 18:55</span>
                                </h4>
                                <div class="list-group list-group-inline">
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Account</span><br>
                                        <span class="text-bold">Saving **0001</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Amount</span><br>
                                        <span class="text-bold text-danger">-$10.10</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Balance</span><br>
                                        <span class="text-bold">$21,424</span>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item listing-item-with-icon">
                                <span class="icon-store listing-item-icon"></span>
                                <h4 class="text-rg text-bold">The Philadelphia Cricket Club <span
                                        class="text-muted pull-right">23/06/2017 14:20</span></h4>
                                <div class="list-group list-group-inline margin-bottom-0">
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Account</span><br>
                                        <span class="text-bold">Checking **9871</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Amount</span><br>
                                        <span class="text-bold text-danger">-$99.99</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Balance</span><br>
                                        <span class="text-bold">$1,657</span>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-item listing-item-with-icon">
                                <span class="fa fa-truck listing-item-icon"></span>
                                <h4 class="text-rg text-bold">Grand Rental <span class="text-muted pull-right">23/06/2017 10:11</span>
                                </h4>
                                <div class="list-group list-group-inline margin-bottom-10">
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Account</span><br>
                                        <span class="text-bold">Saving **0001</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Amount</span><br>
                                        <span class="text-bold text-danger">-$234.11</span>
                                    </div>
                                    <div class="list-group-item col-md-4 col-sm-4">
                                        <span class="text-muted">Balance</span><br>
                                        <span class="text-bold">$1,922</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END RECENT -->

                <nav>
                    <ul class="pagination pagination-separated pull-right">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}


{% block scripts %}

{% endblock %}