{% extends "base-new.html" %}

{% block content %}
    <!-- START PAGE CONTAINER -->

    <div class="container container-boxed">
        <div class="row">
            <!-- TRANSFER -->
            <div class="block block-condensed">
                <div class="app-heading app-heading-small">
                    <div class="title">
                        <h2>Transfer Funds To Other People </h2>
                        <p>Devonshire Lending Only</p>
                    </div>
                </div>


                <form id="transfer-form" class="block-content" action="" method="post">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>From</label>
                                <select id="fromAccount" name="fromAccount">

                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Recipient</label>
                                    <input  name="toAccount" type="text" class="mask_credit form-control"
                                           placeholder="Account Number" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Amout</label>
                                <input type="text" class="form-control" id="amount" name="amount" placeholder="$0.00"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <label>Date</label>
                                <div class="form-group">
                                    <input type="text" class="form-control bs-datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a class="btn btn-link pull-left padding-left-0">Information about fee</a>
                        <button type="submit" class="btn btn-primary btn-clean pull-right">Transfer</button>
                    </div>
                </form>
                <div id="alertBlock" style="display: none" class="col-md-6">
                    <div class="alert alert-info alert-icon-block alert-dismissible" role="alert">
                        <div class="alert-icon"><span class="icon-clock"></span></div>
                        <div id="alertMessage"></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                class="fa fa-times"></span></button>
                    </div>
                </div>
            </div>
            <!-- END TRANSFER -->


        </div>
    </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}


{% block scripts %}
    <script type="application/javascript">
        $(function () {
            $.ajax({
                type: "GET",
                url: "/api/user/accounts",
                dataType: "json",
                success: function (data) {
                    if (data.status == 0) {
                        sessionStorage.accounts = JSON.stringify(data.data);
                    } else {
                        alert(data.msg);
                    }
                }
            }).done(function () {
                $.when(fillSelectAccounts("fromAccount")).then($("#fromAccount").selectpicker());

                $("#transfer-form").submit(function (event) {
                    event.preventDefault();

                    $.ajax({
                        url: "/api/user/transfer",
                        type: "POST",
                        data: {
                            "fromAccount": $("#fromAccount").val(),
                            "toAccount": $("#toAccount").val(),
                            "amount": $("#amount").val()
                        },
                        dataType: "json",
                        success: function (d) {
                            if (d.status == 0) {
                                $("#alertMessage").html("Transfer success.")
                            } else {
                                $("#alertMessage").html(d.message)
                                console.log(d.message)
                            }
                            $("#alertBlock").show()
                        }
                    });
                });
            })

        })
    </script>
{% endblock %}